
<div class = "container" >
  <br/><br/><br/><br/>
    <div class="well" style="text-align:center">
  <img src="img/Logo_png.png" class="img-responsive center-block" />
      <h1><b>CompuPIE</b></h1>
    </div>
    <div class="row">
      <div class="well well-lg">
        <h2>Welcome {{$userService.getUsername()}} !!</h2>
      </div>
    </div>
    <div class="row">
       <div class="col-lg-4">
           <div class="thumbnail ">
               <div class="caption">
                   <h3>Open new case
                   </h3>
                   <div class="caption caption-left">
                       <button class="btn btn-primary" ng-click="createCase();">
                           Create
                       </button>
                   </div>
               </div>
           </div>
         </div>
           <div class="col-lg-4">
           <div class="thumbnail ">
               <div class="caption ">
                   <h3>Open existing case
                   </h3>
                   <div class="caption caption-left">
                     <button class="btn btn-primary" ng-click="searchCase();">
                         Search
                     </button>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-lg-4">
         <div class="thumbnail ">
             <div class="caption ">
                 <h3>New to PIE
                 </h3>
                 <div class="caption caption-left">
                     <a href="" ng-click="openNewToPIE();" class="btn btn-primary" role="button">
                         Read
                     </a>
                 </div>
             </div>
         </div>
     </div>
   </div>



   <div class="row">
      <div class="col-lg-4">
          <div class="thumbnail">
              <div class="caption">
                  <h3>CompuPIE Instructions
                  </h3>
                  <div class="caption caption-left">
                      <a href="" ng-click="openInstruction();" class="btn btn-primary" role="button">
                          Read
                      </a>
                  </div>
              </div>
          </div>
        </div>
          <div class="col-lg-4">
          <div class="thumbnail ">
              <div class="caption ">
                  <h3>Dedication
                  </h3>
                  <div class="caption caption-left">
                      <a href="" ng-click="openDedication();" class="btn btn-primary" role="button">
                          See More
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4">
        <div class="thumbnail ">
            <div class="caption ">
                <h3>About author
                </h3>
                <div class="caption caption-left">
                    <a href="" ng-click="openAbout();" class="btn btn-primary" role="button">
                        Read
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>






</div>
