<div class="row" ng-init="init()">
    <div class="well well-sm">
        <h3>Current Learning Stats </h3>
    </div>
    <div class="welll well-lg" style="height: 700px; " >
          <linechart data="data" options="options"></linechart>
</div>
<div class="col-lg-12">
  <div class="col-lg-5">
    <div style="text-align:right"><h3>Select the range</h3></div></div>
  <div class="col-lg-5">
    <rzslider
        rz-slider-model="slider.min"
        rz-slider-high="slider.max"
        rz-slider-options="slider.options"></rzslider>
  </div>
  <div class="col-lg-2">
    <button class="btn btn-lg btn-primary" ng-click="zoomNow()">Zoom</button>
  </div>
</div>

</div>
