<div class="jumbotron vertical-center">
  <div class="container">
    <h1>FIIPLS 1.0</h1>
    <u><h2>Framework for Inconsistency Induced</h2>
    <h2>Perpetual Learning System</h2></u>
  </br></br></br>
      <h2>Guided by : Dr. Du Zhang</h2>
      </br></br>
      <h2>Project by: Praveenkumar Ramasamy</h2>
        <h2>MS Computer Science</h2>
          <h2>California State University, Sacramento</h2>
  </div>

  <div class="container">
    </br></br></br></br>
    <button class="btn btn-lg btn-primary" ng-click="comeonlogin()">Get Started</button>
  </div>
</div>
