<div class="row">
<div class="well well-lg">
  <h3>Factor 1 - Social Role and Relationship Functioning</h3>
</div>
<rd-widget>
  <rd-widget-header icon="fa-tasks" title="All Problems">
    </rd-widget-header>
  <rd-widget-body classes="large no-padding normalize">
    <div >
      <table class="table table-fixed" >
        <thead >
          <th>Accessed Date</th>
          <th>Social Role Category</th>
          <th>Problem Type</th>
          <th>Problem</th>
          <th>Severity</th>
          <th>Edit</th>
          <th>More Info</th>
        </thead>
        <tbody>
          <tr ng-repeat="fact in factor1Results">
            <td>{{$patientService.getAccessedDate(fact.followup)}}</td>
            <td>{{fact.socialRoleDescription}}</td>
            <td>{{fact.problemType}}</td>
            <td>{{fact.socialRoleProblemType}}</td>
            <td>{{fact.serverity}}</td>
            <td><button class="btn btn-info " ng-click="edit(fact);">Edit</button></td>
            <td><button class="btn btn-success" ng-click="moreInfoSlide(fact);">More Details</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </rd-widget-body>
  <div ng-if="$userService.getOption()==3">
  <rd-widget-footer>
    <div class="clearfix">
      <button class="btn btn-primary pull-right" ng-click="addProblem();">Add New Problem</button>
    </div>
  </rd-widget-footer>
  <div>
</rd-widget>

<div>
    <pageslide ps-open="checked" style="background-color:	#b3d9ff;" ps-size=600px >
        <div class="row">
          <div style="text-align:center">
            <h3>More Information</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h5>Priority:</h3>
          </div>
          <div class="col-lg-6">
            <h5>{{selectedFact.priority}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h5>Duration:</h3>
          </div>
          <div class="col-lg-6">
            <h5>{{selectedFact.duration}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h5>Coping ability:</h3>
          </div>
          <div class="col-lg-6">
            <h5>{{selectedFact.copingAbitity}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h5>Goal:</h3>
          </div>
          <div class="col-lg-6">
            <h5>{{selectedFact.goal}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h5>Recommended Intervention:</h3>
          </div>
          <div class="col-lg-6">
            <h5>{{selectedFact.recommendedInter}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h5>Expected Outcome:</h3>
          </div>
          <div class="col-lg-6">
            <h5>{{selectedFact.expectedOutcome}}</h3>
          </div>
        </div>
    </pageslide>
  </div>

</div>
