<div class="panel-heading"><h3>Add new problem</h3></div>
<form novalidate>
<div class="row">
    <div class="col-lg-8">
        <h4>
            <label for="socialRoleCat" class="">ICD 10 DX</label>
        </h4>
        <div >
          <ui-select ng-model="selectedFact.diagnosis" on-select="stateSelected(selectedFact.dsmDiagnosis);">
                <ui-select-match placeholder="Select">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="hero in loadMeta($select.search) | filter: $select.search">
                <div ng-bind="hero"></div>
              </ui-select-choices>
          </ui-select>
        </div>
    </div>
    <div class="col-lg-4">
        <h4>
            <label for="socialRole" class="">Diagnosis Source</label>
        </h4>
        <div >
            <select class="form-control" id="sourcesre" ng-model="selectedFact.diagnosisSource">
                <option>Professional DX</option>
                <option>Client Report</option>
            </select>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-3">
        <h4>
            <label for="severity" class="">Severity</label>
        </h4>
        <select class="form-control" id="severity" ng-model="selectedFact.serverity">
              <option ng-repeat="items in $metaInfoService.getMetaInfo().severity">{{items.category}}</option>
        </select>
    </div>
    <div class="col-lg-3">
        <h4>
            <label for="duration" class="">Duration</label>
        </h4>
        <select class="form-control" id="duration" ng-model="selectedFact.duration">
              <option ng-repeat="items in $metaInfoService.getMetaInfo().duration">{{items.category}}</option>
        </select>
    </div>
    <div class="col-lg-3">
        <h4>
            <label for="coping" class="">Coping Ability</label>
        </h4>
        <select class="form-control" id="coping" ng-model="selectedFact.copingAbitity">
            <option ng-repeat="items in $metaInfoService.getMetaInfo().copingAbility">{{items.category}}</option>
        </select>
    </div>
    <div class="col-lg-3">
        <h4>
            <label for="priority" class="">Priority</label>
        </h4>
        <select class="form-control" id="priority" ng-model="selectedFact.priority">
            <option ng-repeat="items in $metaInfoService.getMetaInfo().priority">{{items.category}}</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>
            <label for="goal" class="">Goal</label>
        </h4>
        <div >
            <textarea rows="4" type="text" class="form-control" id="goal" ng-model="selectedFact.goal"></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h4>
            <label for="recom" class="">Recommended Intervention</label>
        </h4>
        <div >
            <textarea rows="4" type="text" class="form-control" id="recom" ng-model="selectedFact.recommendedInter"></textarea>
        </div>
    </div>
    <div class="col-lg-6">
        <h4>
            <label for="expOut" class="">Expected Outcome</label>
        </h4>
        <div >
            <textarea rows="4" type="text" class="form-control" id="expOut" ng-model="selectedFact.expectedOutcome"></textarea>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-6" ng-if="functionval != 'edit'">
    <button class="btn btn-primary pull-right" ng-click="AddNow();">Add</button>
  </div>
  <div class="col-md-6" ng-if="functionval == 'edit'">
    <button class="btn btn-primary pull-right" ng-click="updateNow();">Update</button>
  </div>
  <div class="col-md-6">
      <button class="btn btn-primary pull-left" ng-click="cancel();">Cancel</button>
    </div>
</div>
</form>
